{% load static %}


<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Admin Dashboard Panel</title>--> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'images/logo.png' %}" alt="">
            </div>

            <span class="logo_name">Trafik rendelés</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">

                    <span class="link-name">ODBE rendelés</span>
                </a></li>
                <li><a href="#">
                    <span class="link-name">Coca cola rendelés</span>
                </a></li>
                <li><a href="#">

                    <span class="link-name">Számlák XML</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Kilépés</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Sötét mód</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <!--<div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            &lt;!&ndash;<img src="images/profile.jpg" alt="">&ndash;&gt;
        </div>-->

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class=""></i>
                    <span class="text">Műveletek</span>
                </div>
                <form action="#" method="post" name="foform"> {% csrf_token %}
                    <div class="boxes">
                        <div class="box box1">
                            <button class="button-66" type="submit" name="odbe_import" value="odbe_import" ><i class="uil uil-import"></i></button>
                            <span class="text">ODBE üres lista import</span>
                            <span class="text2">Frissíti az ODBE adatbázist az új termékekkel</span>
                        </div>
                        <div class="box box2">
                            <button class="button-66"><i class="uil uil-import"></i></button>
                            <span class="text">Raktárkészlet import</span>
                            <span class="text2">Raktárkészletet frissíti</span>
                        </div>
                        <div class="box box3">
                            <button class="button-66" type="submit" name="kvgomb" value=""><i class="uil uil-import"></i></button>
                            <span class="text">Készletváltozás import</span>
                            <span class="text2">Készletváltozást beemeli. Ha van új NDN, akkor párosítja.</span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="activity">
                <div class="title">
                    <i class=""></i>
                    <span class="text">Listák</span>
                </div>
                <!-- TÖRZS, IDE JÖN A VÁLTOZÓ EREDMÉNYEK -->



                <!--                <div>{% autoescape off %}{{ tablazat }}{% endautoescape %}</div>-->

            </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/script.js'  %}"></script>
</body>
</html>
